<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Message: {{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>